* {
  font-family: "Lato", sans-serif;
}
body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
#root {
  display: grid;
  /* grid-template-rows: 50px 1140px 100px; */
  align-items: center;
}
.drpdwn {
  display: flex;
}
a > .btn {
  background-color: transparent;
  color: #8d5cff;
  padding: 4px 6px;
  border: 0;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 800;
}
a:hover > .btn {
  /* background-color: #e7e7e7; */
  box-shadow: 0px 0px 4px 0px;
}

/* HEADER CSS START */
header {
  width: 100%;
  height: 50px;
  display: flex;
  align-self: start;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
header > h1 {
  flex: 2;
  margin: 4px;
  padding: 4px;
  font-size: 20px;
  font-weight: 900;
  font-family: "Delius Unicase", "cursive";
}
header > div {
  margin: 0 5px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 5%;
}
/* -----------------HEADER CSS END----------------- */

/* HOMEPAGE CSS START */
.homepage {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  align-self: self-start;
  position: relative;
  overflow: hidden;
}
.homepage > .carousel {
  width: 400%;
  height: 500px;
  margin-bottom: 10px;
  border: 0 solid black;
  border-bottom-width: 20px;
  display: flex;
  position: relative;
  animation-name: carousel;
  animation-duration: 30s;
  animation-delay: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0.8, 0, 1);
  animation-direction: normal;
}
@keyframes carousel {
  0% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  100% {
    left: 0;
  }
}
.shoppingLinks {
  background-color: #000000;
  width: 100%;
  margin-top: 10px;
  border: 0 solid black;
  border-width: 2px 0px 2px 0px;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}
.shoppingLinks > a {
  color: white;
  margin: 0 auto;
  padding: 5px;
  font-size: 16px;
  text-decoration: none;
}
.homepage > .carousel > .carouselImg {
  background-color: #b857e6;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
}
.homepage > .carousel > .card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage > .carousel > .card > img {
  width: 650px;
  height: inherit;
  margin: 15px 25px;
  position: absolute;
  box-shadow: 0 0 16px 10px #b857e6;
  opacity: 0.9;
}
.homepage > .carousel > .card > div {
  background-color: rgba(88, 88, 88, 0.6);
  color: white;
  width: 400px;
  height: 190px;
  padding: 20px;
  position: relative;
  left: 30%;
  text-align: start;
  text-transform: capitalize;
}
.homepage > .carousel > .card > div > h3 {
  margin: 0;
  font-size: 80px;
  background: -webkit-linear-gradient(#3a02bb, #8d5cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #3d03c769;
  text-shadow: 1px 1px 0 #ffffff56;
}
.homepage > .carousel > .card > div > p {
  font-family: "Seymour One", sans-serif;
  text-shadow: 2px 2px 4px #3a02bb;
  text-transform: lowercase;
}
.homepage > .carousel > .card > div > a > .btn {
  color: #3a02bb;
  background-color: white;
  border: 2px solid #3a02bb;
  border-radius: 0;
  text-transform: uppercase;
  font-family: "Almendra", serif;
}
.homepage > .carousel > .card > div > a:hover > .btn {
  color: #3a02bb;
  background-color: rgba(255, 255, 255, 0.87);
  box-shadow: 2px 2px 1px 1px;
}
.homepage > .buttonGrp {
  display: flex;
}
.homepage > .buttonGrp > a {
  width: 420px;
  height: 80px;
  margin: 15px auto;
  display: block;
}
.homepage > .buttonGrp > a > .btn {
  width: inherit;
  height: inherit;
  margin: 0;
  border: 2px solid black;
  border-radius: 0;
  font-size: xx-large;
}
.shopBTN:hover > .btn {
  background-color: #8d5cff;
}
.homepage > .infoList {
  width: inherit;
  height: 350px;
  margin: 10px auto;
}
.homepage > .infoList > ul {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 105px;
  list-style: none;
}
.homepage > .infoList > ul > li {
  margin: 20px;
  font-size: 16px;
  font-weight: 800;
}
.homepage > a:hover > button {
  box-shadow: 0px 0px 4px 0px;
}

@media (max-width: 1380px) {
  .homepage > .carousel > .card > div {
    left: 10%;
  }
  .homepage > .carousel > .card > div > a > button {
    top: 10%;
  }
}
@media (max-width: 1200px) {
  header > h1 {
    flex: 1;
  }
  header > div {
    flex: 1;
  }
}
@media (max-width: 800px) {
  header {
    width: 100%;
  }
  .homepage {
    width: 100%;
  }
  .homepage > .carousel > .card > img {
    width: 440px;
    height: inherit;
  }
  .homepage > .carousel > .card > div {
    width: 240px;
  }
}
@media (max-width: 500px) {
  .homepage > .carousel > .card > img {
    width: 380px;
    height: inherit;
  }
  .homepage > .carousel > .card > div {
    width: 200px;
    height: 90px;
  }
  .homepage > .carousel > .card > div > h3 {
    font-size: 50px;
  }
  .homepage > .carousel > .card > div > p {
    width: 300px;
    position: relative;
    top: 100px;
    left: -80px;
  }
  .homepage > .carousel > .card > div > a > .btn {
    position: relative;
    top: 100px;
    left: -80px;
  }
}
@media (max-width: 350px) {
  .homepage > .carousel > .card > img {
    width: 310px;
    height: inherit;
  }
  .homepage > .carousel > .card > div {
    width: 200px;
    height: 90px;
  }
  .homepage > .carousel > .card > div > h3 {
    font-size: 50px;
  }
  .homepage > .carousel > .card > div > p {
    width: 300px;
    position: relative;
    top: 100px;
    left: -80px;
  }
  .homepage > .carousel > .card > div > a > .btn {
    position: relative;
    top: 100px;
    left: -80px;
  }
}
/* -----------------HOMEPAGE CSS END----------------- */

/* CONTACT PAGE CSS START */
.contactPage {
  background-color: #b957e6af;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
  width: 100%;
  /* height: 1140px; */
}
.contactPage > h1 {
  background-color: rgba(0, 0, 0, 0.59);
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 50px;
  text-align: center;
}
.contactPage > div {
  background-color: rgba(0, 0, 0, 0.59);
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactPage > div h2 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  text-transform: capitalize;
}
.enquireForm {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}
.enquireForm > h2 {
  width: 100%;
}
.enquireForm > input {
  width: 95%;
  padding: 8px 2%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}
.enquireForm > textarea {
  width: 95%;
  padding: 8px 2%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}
.enquireForm > .btn {
  background-color: #8d5cff;
  color: #3a02bb;
  width: 240px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
.enquireForm .btn:hover {
  background-color: white;
  color: #8d5cff;
  box-shadow: 2px 4px 6px 1px;
}
.enquireForm > .btn > svg {
  margin: 0 10px;
}
.enquireForm ::placeholder {
  color: #3a02bb;
}
.contactPage > div > .submitted {
  background-color: rgba(255, 255, 255, 0.781);
  width: 100%;
  height: 100vh;
  padding: 0;
  position: fixed;
  top: 0px;
}
.contactPage > div > .submitted > p {
  background-color: rgb(0, 255, 17);
  color: rgb(86, 255, 97);
  margin: 0 auto;
  padding: 5px 15px;
  border-radius: 15px;
  position: absolute;
  top: 220px;
  left: 400px;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(20, 20, 20);
  box-shadow: 0px 0px 4px 0px;
}
.contactPage > div > .submitted > p > svg {
  position: relative;
  left: 10px;
  top: 6px;
}
.contactPage > div > .otherInfo {
  width: 80%;
  padding: 10px 20px;
}
.contactPage > div > .otherInfo > .gridContainer {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.contactPage > div > .otherInfo > .gridContainer > div {
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.contactPage > div > .otherInfo > .gridContainer > div > a {
  background-color: #8d5cff;
  padding: 8px;
  border: 0px solid black;
  border-radius: 50px;
}
.contactPage > div > .otherInfo > .gridContainer > div > a > svg {
  font-size: 50px;
}
.contactPage > div > .otherInfo > .gridContainer > div > p {
  color: white;
  font-size: 18px;
}

@media (max-width: 800px) {
  .contactPage > div > .otherInfo > .gridContainer {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
/* -----------------CONTACT PAGE CSS END----------------- */

/* ABOUT PAGE CSS START */
.aboutPage {
  background-color: #b957e6af;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
  width: 100%;
  height: 590px;
  align-self: self-start;
}
.aboutPage > h1 {
  background-color: rgba(0, 0, 0, 0.59);
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 50px;
  text-align: center;
}
.aboutMainBody {
  background-color: rgba(0, 0, 0, 0.59);
  color: white;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.aboutMainBody > .imageDiv {
  width: 40%;
}
.aboutMainBody > .imageDiv > .shape {
  background-color: #8d5cff;
  width: 320px;
  height: 430px;
  margin: 10px;
  padding: 10px;
  position: absolute;
  z-index: 0;
  border-radius: 140px 360px 110px 340px;

  animation-name: aboutImageDiv;
  animation-duration: 30s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
@keyframes aboutImageDiv {
  0% {
    border-radius: 140px 360px 110px 340px;
  }
  25% {
    border-radius: 340px 140px 360px 110px;
  }
  50% {
    border-radius: 110px 340px 140px 360px;
  }
  75% {
    border-radius: 360px 110px 340px 140px;
  }
  100% {
    border-radius: 140px 360px 110px 340px;
  }
}
.aboutMainBody > .imageDiv > .img {
  width: 320px;
  margin: 10px;
  padding: 10px;
  border-radius: 200px 300px 100px 300px;
  position: relative;
  z-index: 1;
  animation-name: aboutImage;
  animation-duration: 30s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
@keyframes aboutImage {
  0% {
    border-radius: 200px 300px 100px 300px;
  }
  25% {
    border-radius: 300px 200px 300px 100px;
  }
  50% {
    border-radius: 100px 300px 200px 300px;
  }
  75% {
    border-radius: 300px 100px 300px 200px;
  }
  100% {
    border-radius: 130px 160px 90px 220px;
  }
}
.aboutMainBody > .aboutInfoDiv {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  align-self: center;
}

@media (max-width: 1200px) {
  .aboutMainBody {
    height: 470px;
  }
  .aboutMainBody > .imageDiv > .shape {
    width: 240px;
    height: 320px;
  }
  .aboutMainBody > .imageDiv > .img {
    width: 240px;
  }
}
@media (max-width: 800px) {
  .aboutPage {
    height: 710px;
  }
  .aboutMainBody {
    flex-direction: column;
    height: 600px;
  }
  .aboutMainBody > .imageDiv {
    width: auto;
  }
  .aboutMainBody > .imageDiv > .shape {
    width: 240px;
    height: 320px;
  }
  .aboutMainBody > .imageDiv > .img {
    width: 240px;
  }
}
@media (max-width: 400px) {
  .aboutPage {
    height: 760px;
  }
  .aboutMainBody {
    flex-direction: column;
    height: 650px;
  }
  .aboutMainBody > .imageDiv {
    width: auto;
  }
  .aboutMainBody > .imageDiv > .shape {
    width: 240px;
    height: 320px;
  }
  .aboutMainBody > .imageDiv > .img {
    width: 240px;
  }
}
/* -----------------ABOUT PAGE CSS END----------------- */

/* FOOTER CSS START */
footer {
  background-color: #000000;
  width: 100%;
  height: 100px;
  padding-top: 10px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  bottom: 0;
  z-index: 2;
}
footer > div {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
footer > div > a {
  color: rgb(218, 218, 218);
  width: 100px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
footer > p {
  color: rgb(131, 131, 131);
  margin: 0 auto;
  font-size: 12px;
}
/* -----------------FOOTER CSS END----------------- */
